<!DOCTYPE html>
<html>
    <head>
      <% include header.ejs %>
    </head>
    <body>
      <% include navbar.ejs %>
      <!--
      <div class="slider">
    <ul class="slides">
      <li>
        <img src="/images/tke_outside.jpeg">
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3">
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>-->
      <div class="row center-align">
        <div class="col s12 m8 offset-m2">
          <div class="card center-align">
            <div class="card-content">
              <p>
                Welcome to Zeta-Mu Pay. If you have an access code you can <a href='/signup'>Sign-Up here.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!---<div class="fb-like" data-href="https://www.facebook.com/TKEZetaMU" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>-->
      <% include navscript.ejs %>
    </body>
</html>
